.tile {
  display: inline-flex;
  margin: 0;
  background-color: green;
}

.row {
  margin: 0px;
  height: 40px;
}

.grass {
  background-color: green;
}

.tree {
  background-image: url("/tiles/tree.png");
}

.rock {
  background-image: url("/tiles/stone.png");
}
